<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Jean Poole is a Melbourne based video artist, specialising in event-based real-time video manipulation.
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                He has performed in festivals and provided live visual backdrops for many theatre shows. He has also projected his videos onto unique surfaces, such as dinosaur skeletons, car wrecks in the Australian desert, the cliffs of Turkey's Cappadocia, and even masked wrestlers on rooftops in Mexico.
            </p>
        </div>
    </div>
</section>
