<footer class="container-fluid container-contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Links</h1>
            </div>
            <div class="col-md-6 col-sm-12">
                <i class="fa fa-globe" aria-hidden="true"></i>
                <a href="https://emiliagumanska.com/vj/" target="_blank" rel="noopener noreferrer">Website</a>
            </div>
            <div class="col-md-6 col-sm-12">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <a href="https://www.facebook.com/emikovj">Facebook</a>
                <a href="https://www.facebook.com/emikovj" target="_blank" rel="noopener noreferrer">Facebook</a>
            </div>
            <div class="col-md-6 col-sm-12">
                <i class="fa fa-twitter" aria-hidden="true"></i>
               <a href="#" target="_blank" rel="noopener noreferrer">Twitter</a>
            </div>
                        <div class="col-md-6 col-sm-12">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <a href="https://www.instagram.com/emiko__okime/" target="_blank" rel="noopener noreferrer">Instagram</a>
            </div>
            <div class="col-md-6 col-sm-12">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                <a href="https://www.youtube.com/@vjemiko/featured" target="_blank" rel="noopener noreferrer">Youtube</a>
            </div>
        </div>
    </div>
</footer>
